
csharp-client-generated.zip

aspnetcore-server-generated.zip

aspnetcore-server-generated/.vs/IO.Swagger/v16/

aspnetcore-server-generated/.vs/IO.Swagger/DesignTimeBuild/.dtbcache.v2

aspnetcore-server-generated/.swagger-codegen-ignore
